body
{
margin:0;
padding:0;

text-align:center;

/*background:
url(bg.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/

/*filter:alpha(opacity=50);
-moz-opacity:0.5;
opacity:0.5;
-khtml-opacity:0.5;*/

/*border: 1px solid rgb(0,0,0);*/
}

.extend_headerbar
{
position:absolute;

top:0;
left:0;

width:100%;
height:108px;

background-color:#959595;
}

.container
{
margin-left:auto;
margin-right:auto;

text-align:left;

position:relative;

width:1280px;
height:720px;

}

.headerbar
{
position:relative;
float:left;

top:0;
left:0;

width:100%;
height:15%;

background-color:#959595;
}

.logoimg
{
position:relative;

top:20%;
left:1%;

width:20%;
height:60%;

border:0;
}

.login
{
position:relative;
float:left;

top:0;
left:0;

width:15%;
height:80%;
}

.login_form
{
position:relative;

top:10%;
left:10%;

width:auto;
height:auto;
}

.content
{
position:relative;
float:left;

top:0;
left:0;

width:45%;
height:80%;
}

.logoobject
{
position:relative;

top:0;
left:0;

width:100%;
height:100%;
}

.logoembed
{
position:relative;

top:10%;
left:10%;

width:80%;
height:80%;
}

.signup
{
position:relative;
float:left;

top:0;
left:0;

width:40%;
height:80%;
}

.signup_form
{
position:relative;

top:10%;
left:0;

width:100%;
height:80%;
}

.footbar
{
position:relative;
float:left;

top:0;
left:0;

width:100%;
height:5%;
}

.caption
{
position:relative;
float:left;

top:0;
left:0;

width:18%;
height:10%;

text-align:right;
}
.text
{
position:relative;
float:left;

top:0;
left:0;

width:42%;
height:10%;

text-align:left;
}
.alert
{
position:relative;
float:left;

top:0;
left:0;

width:40%;
height:10%;

text-align:left;
font-size:12;
}
.warning
{
position:relative;
float:left;

top:0;
left:0;

width:100%;
height:20%;

text-align:center;
}